# python3 -m pip install -r requirements.txt
# pip3 install -r requirements.txt --user
# pip3 install paho-mqtt psycopg2-binary
Adafruit-DHT==1.4.0
getmac==0.8.2
gpiozero==1.5.1
spidev==3.5
paho-mqtt==1.5.1
psycopg2-binary==2.8.6
pytz==2021.1
